torch>=2.4.0
torchvision>=0.19.0
diffusers>=0.38.0
transformers>=4.49.0,<=4.51.3
accelerate
sentencepiece
ftfy
opencv-python-headless>=4.9.0.80,<4.12
imageio[ffmpeg]>=2.34.0
numpy>=1.23.5,<2
easydict
tqdm
regex
einops
flash-attn
